body{

    font-family: sans-serif;
    background-color: #ffffff;

}

table{

    width: 98%;
    margin:auto;
    background-color: #f5f5dc;
    border-collapse: collapse;
}

caption{

    color: #000000;

}

th{
    background-color: #c4c491;
    border: 2px solid #000000;
    color: #000000;
    padding: 3px;

}

td{

    border: 1px solid #000000;
    text-align: center;
    color: #000000;
    padding: 2px;
}
